body {
    height: 100vh;
    max-width: 960px;
    padding: 0;
    margin: 0 auto;
}

  img {
    width: calc(70vw - 30px); /* Ширина для больших экранов */
    max-width: 800px; /* Ограничение максимальной ширины */
    height: auto; /* Сохраняем пропорции */
  }

  /* Для экранов менее 768px */
  @media (max-width: 768px) {
    img {
      width: calc(90vw - 20px); /* Увеличиваем ширину на меньших экранах */
    }
  }

.header {
    background-image: url(./img/photo_2024-12-15\ 11.42.41.jpeg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 1280px;
}

img {
    width: calc(100% - 50px);
    max-width: 800px;
    height: auto;
  }

.video-container {
position: relative;
width: 100%;
padding-bottom: 56.25%; /* Соотношение сторон 16:9 */
height: 0;
}

.video-container iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}